<mat-grid-list cols="4" rowHeight="33vh">
    <mat-grid-tile *ngFor="let layout of frontPageLayout; let i = index" [colspan]="layout.cols" [rowspan]="layout.rows">
        <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
            <div class="grid-item-img" [style.background-image]="'url('+ layout.img +')'" [style.background.color]="'#88b06a'">
                <ng-container [ngSwitch]="i">
                    <div class="display-content" *ngSwitchCase="0">
                        <div class="header-bar" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <a routerLink="/" routerLinkActive="active">Home</a>
                            <a routerLink="/phote-album" routerLinkActive="active">Phote Album</a>
                            <a routerLink="/phote-album" routerLinkActive="active">Service Menu</a>
                            <a routerLink="/phote-album" routerLinkActive="active">Products</a>
                        </div>
                    </div>
                    <div class="display-content" *ngSwitchCase="1" fxLayout="column" fxLayoutAlign="center center">
                        <div class="sub-title">Spring Garden</div>
                        <div class="global-margin-top sub-content">Picnic Ground</div>
                        <div class="global-margin-top sub-content">No. 28號, Wugu Rd, Miaoli City</div>
                    </div>
                    <div class="display-content" *ngSwitchCase="5" fxLayout="row" fxLayoutAlign="center center">
                        <span>Experience the good country life</span>
                    </div>
                    <div *ngSwitchDefault></div>
                </ng-container>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>