<div class="wrap" fxLayout="row" fxLayoutAlign="center center">
    <mat-toolbar class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo-content" fxLayout="row" fxLayoutAlign="center center">
            <a routerLink="/" routerLinkActive="active" class="logo global-margin-left">Spring Garden</a>
        </div>
        <div class="route-content" fxLayout="row" fxLayoutAlign="space-around center">
            <a routerLink="/phote-album" routerLinkActive="active">Phote Album</a>
            <a routerLink="/phote-album" routerLinkActive="active">Service Menu</a>
        </div>
    </mat-toolbar>
</div>